[run]
omit=
    # no need to test config
    app/config.py
[report]
fail_under = 99
# Regexes for lines to exclude from consideration
exclude_lines =
    # Don't complain about missing debug-only code:
    def __repr__
    def __str__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

[html]
title = Test Coverage Report
directory = htmlcov
