.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
venv
__pycache__
.idea/**
rsa_key.p8
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover